body {
    min-height: 100vh;
}

/*Main Container Styling*/

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 327px;
    height: 1326px;
}

/*Sedans Section Styling*/

#sedans-section {
    width: 327px;
    height: 442px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #E28625;
}

.sedans-img {
    margin: 48px 0px 35px 49px;
}

.sedans-h2 {
    font-family: Big Shoulders Display, 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #F2F2F2;
    margin: 0px 0px 25px 49px;
}

.sedans-p {
    width: 231px;
    height: 125px;
    margin: 0px 47.5px 25px 48.5px;
    font-family: "Lexend Deca", "Times New Roman", Times, serif;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 75%;
}

.sedans-button {
    width: 146px;
    height: 48px;
    margin-left: 49px;
    border-radius: 25px;
    background-color: #F2F2F2;
    border: none;
    font-family: "Lexend Deca", "Times New Roman", Times, serif;
    font-size: 15px;
    color: #E28625;
}

/*Suvs Section Styling*/

#suvs-section {
    width: 327px;
    height: 442px;
    background-color: #006971;
}

.suvs-img {
    margin: 48px 0px 35px 49px;
}

.suvs-h2 {
    font-family: Big Shoulders Display, 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #F2F2F2;
    margin: 0px 0px 25px 49px;
}

.suvs-p {
    width: 231px;
    height: 125px;
    margin: 0px 47.5px 25px 48.5px;
    font-family: "Lexend Deca", "Times New Roman", Times, serif;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 75%;
}

.suvs-button {
    width: 146px;
    height: 48px;
    margin-left: 49px;
    border-radius: 25px;
    background-color: #F2F2F2;
    border: none;
    font-family: "Lexend Deca", "Times New Roman", Times, serif;
    font-size: 15px;
    color: #006971;
}

/*Luxury Section Styling*/

#luxury-section {
    width: 327px;
    height: 442px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #004140;
}

.luxury-img {
    margin: 48px 0px 35px 49px;
}

.luxury-h2 {
    font-family: Big Shoulders Display, 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #F2F2F2;
    margin: 0px 0px 25px 49px;
}

.luxury-p {
    width: 231px;
    height: 125px;
    margin: 0px 47.5px 25px 48.5px;
    font-family: "Lexend Deca", "Times New Roman", Times, serif;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 75%;
}

.luxury-button {
    width: 146px;
    height: 48px;
    margin-left: 49px;
    border-radius: 25px;
    background-color: #F2F2F2;
    border: none;
    font-family: "Lexend Deca", "Times New Roman", Times, serif;
    font-size: 15px;
    color: #004140;
}

/*Desktop Design Styling*/

@media only screen and (min-width: 600px) {
    #main-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 171px;
        margin-bottom: 129px;
        width: 920px;
        height: 500px;
    }

/*Sedans Section*/

    #sedans-section {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 0px;
        height: 500px;
    }

    .sedans-p {
        margin-bottom: 83px;
    }

    .sedans-button:hover {
        cursor: pointer;
        background-color: #E28625;
        color: #FFFFFF;
        border-style: solid;
        border-width: 2px;
    }

/*SUVs Section*/

    #suvs-section {
        height: 500px;
    }

    .suvs-p {
        margin-bottom: 83px;
    }

    .suvs-button:hover {
        cursor: pointer;
        background-color: #006971;
        color: #FFFFFF;
        border-style: solid;
        border-width: 2px;
    }

/*Luxury Section*/

    #luxury-section {
        border-top-left-radius: 0px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
        height: 500px;
    }

    .luxury-p {
        margin-bottom: 83px;
    }

    .luxury-button:hover {
        cursor: pointer;
        background-color: #004140;
        color: #FFFFFF;
        border-style: solid;
        border-width: 2px;
    }
}