/*Body Styling*/

body {
    min-height: 100vh;
}

/*Main Container Styling*/

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 327px;
    height: 1326px;
}

/*Sedans Section Styling*/

#sedans-section {
    width: 327px;
    height: 442px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #E28625;
}

.sedans-img {
    margin: 48px 0px 35px 49px;
}

.sedans-h2 {
    font-family: Big Shoulders Display, 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #F2F2F2;
    margin: 0px 0px 25px 49px;
}

/*Suvs Section Styling*/

#suvs-section {
    width: 327px;
    height: 442px;
    background-color: #006971;
}

.suvs-img {
    margin: 48px 0px 35px 49px;
}

.suvs-h2 {
    font-family: Big Shoulders Display, 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #F2F2F2;
    margin: 0px 0px 25px 49px;
}

/*Luxury Section Styling*/

#luxury-section {
    width: 327px;
    height: 442px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #004140;
}

.luxury-img {
    margin: 48px 0px 35px 49px;
}

.luxury-h2 {
    font-family: Big Shoulders Display, 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #F2F2F2;
    margin: 0px 0px 25px 49px;
}